@page "/Students"
@inject StudentService studentService

<NavLink class="nav-link" href="AddStudent">
    <span class="oi oi-plus" aria-hidden="true">
        Добавить студента
    </span>
</NavLink>
<h1>Студенты</h1>
@if (_students is null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    <div class="container">

        <div class="row bg-light">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Отчество</th>
                        <th>Группа</th>
                        <th>День рождения</th>
                        <th>Средний балл</th>
                        <th>Стипендия</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var student in _students)
                    {
                        <tr>
                            <td>@student.Id</td>
                            <td>@student.Surname</td>
                            <td>@student.Name</td>
                            <td>@student.Otch</td>
                            <td>@student.Group</td>
                            <td>@student.BirthDate</td>
                            <td>@student.AverageScore</td>
                            <td>@student.Scholarship</td>
                            <td>
                                <a href="EditStudent/@student.Id">
                                    <span>Редактировать</span>
                                </a>
                                <a href="Delete/@student.Id">
                                    <span>Удалить</span>
                                </a>
                            </td>
                        </tr>
                    }
                   
                </tbody>
            </table>
        </div>
    </div>
}

@code {



    List<Student> _students;
    protected override async Task OnInitializedAsync()
    {
        _students = await Task.Run(() => studentService.GetAllStudentAsync());
    }
}
